
    *{
  margin: 0px;
  padding: 0px;
}
body{
  border: solid rgb(255, 51, 0) 05px;
  background-color: antiquewhite
}
hr{
  margin: 0px;
  padding:02px;
  background: #000;
}

header {
  border: dashed rgb(118, 173, 16) 05px;
  position:absolute;
  color: rgb(68, 28, 177);
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
}
p{
  color:rgb(0, 0, 0);
  font-weight: bold;
}
#id1,#id2,#id3,#id4,#id5{
  
  border: dashed rgb(35, 74, 158) 05px;
  position:absolute;
  color: rgb(68, 28, 177);
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
}
footer {
  border: dashed rgb(219, 105, 92) 05px;
  position:absolute;
  color: rgb(68, 28, 177);
  position: relative;
  background-repeat: no-repeat;
  text-align: center;}
